<%- include('base/_header.html') %>

<% var flats = [
        { "id":"M1", "name":"1", "etap":1, "building":"1", "rooms_count":"3", "area":"23.50", "terrace":"20.33", "garden":"21.30",
        "floor":"0", "state":{"value":"free","label":"Wolne"}, "price":"427031", "sale_price":"" }, 
        { "id":"M2", "name":"2", "etap":1,
        "building":"1", "rooms_count":"3", "area":"11.50", "terrace":"24.33", "garden":"22.30", "floor":"0", "state":{"value":"sale","label":"Promocja"},
        "price":"427035","sale_price":"300000" }, 
        { "id":"M3", "name":"3", "etap":1, "building":"1", "rooms_count":"3", "area":"113.50",
        "terrace":"13.33", "garden":"24.35", "floor":"1", "state":{"value":"free","label":"Wolne"}, "price":"427335","sale_price":""}, 
        { "id":"M4", "name":"4", "etap":1, "building":"2", "rooms_count":"3", "area":"223.50", "terrace":"34.33", "garden":"23.32",
        "floor":"1", "state":{"value":"sold","label":"Sprzedane"}, "price":"427033","sale_price":"" }, 
        { "id":"M5", "name":"5", "etap":1,
        "building":"3", "rooms_count":"3", "area":"44.50", "terrace":"35.33", "garden":"56.30", "floor":"1", "state":{"value":"sold","label":"Sprzedane"},
        "price":"427035","sale_price":"" }, 
        { "id":"M6", "name":"6", "etap":2, "building":"5", "rooms_count":"3", "area":"73.10",
        "terrace":"11.33", "garden":"123.30", "floor":"2", "state":{"value":"sold","label":"Sprzedane"}, "price":"422035","sale_price":""
        }
    ]; %>

<section class="search">
<!-- SEARCH MENU -->
  <div class="search__container">
    <span class="decorative-strip decorative-strip--gold"></span>
    <div class="search__wrapper">
      <h1 class="search__header search__header--gold">Wybierz parametry wyszukiwania</h1>
      <!-- SLIDERS -->
      <form action="" method="" class="slider__container">
        <div class="slider__wrapper">
          <div class="slider" id="slider-area">
            <label class="slider__label" for="area">Powierzchnia (m<sup class="slider__label-sup">2</sup>)</label>
            <input class="slider__input slider__input--left" 
                   type="text" value="35" id="areaMin" 
                   data-current-min="35" data-name="min" 
                   data-min="25" data-step="5" readonly >
            <input class="slider__input slider__input--right" 
                   type="text" value="75" id="areaMax" 
                   data-current-max="75" data-name="max"
                   data-max="120" data-step="5" readonly >
          </div>
        </div>
        <div class="slider__wrapper">
          <div class="slider" id="slider-price">
            <label class="slider__label" for="price">Zakres cenowy (zł)</label>
            <input class="slider__input slider__input--left" 
                   type="text" value="190 000" id="priceMin" 
                   data-current-min="190000" data-name="min" 
                   data-min="190000" data-step="20000" readonly >
            <input class="slider__input slider__input--right" 
                   type="text" value="350 000" id="priceMax" 
                   data-current-max="250000" data-name="max"
                   data-max="350000" data-step="20000" readonly >
          </div>
        </div>
        <div class="slider__wrapper">
          <div class="slider" id="slider-rooms">
            <label class="slider__label" for="rooms">Ilość pomieszczeń</label>
            <input class="slider__input slider__input--left" 
                   type="text" value="1" id="roomsMin" 
                   data-current-min="1" data-name="min" 
                   data-min="1" data-step="1" readonly >
            <input class="slider__input slider__input--right" 
                   type="text" value="4" id="roomsMax" 
                   data-current-max="3" data-name="max"
                   data-max="4" data-step="1" readonly >
          </div>
        </div>
        <!-- RADIO BUTTONS -->
        <div class="radio">
          <input class="radio__item" type="radio" id="free" name="free-or-sale" value="free" checked />
          <label class="radio__label" for="free"></label>
          <span class="radio__description">
            Wolne <span id="span-free" class="radio__description radio__description--gold">()</span>
          </span>
          <input class="radio__item" type="radio" id="sale" name="free-or-sale" value="sale" />
          <label class="radio__label" for="sale"></label>
          <span class="radio__description">
            Promocja <span id="span-sale" class="radio__description radio__description--gold">()</span>
          </span>
        </div>
      </form>
    </div> 
  </div>
  <!-- SEARCH RESULTS -->
  <div class="search__container search__container--gray">
    <span class="decorative-strip decorative-strip--gray"></span>
    <div class="search__wrapper">
      <section class="search-results">
        <h1 class="search__header search__header--gray">Wyniki wyszukiwania</h1>
        <table class="table">
          <thead>
            <tr>
              <th class="table__header">NUMER
                <img class="table__img" src="assets/images/down-arrow.png" alt=""></th>
              <th class="table__header">POWIERZCHNIA
                <img class="table__img" src="assets/images/down-arrow.png" alt=""></th>
              <th class="table__header">POKOJE
                <img class="table__img" src="assets/images/down-arrow.png" alt=""></th>
              <th class="table__header">PIĘTRO
                <img class="table__img" src="assets/images/down-arrow.png" alt=""></th>
              <th class="table__header table__header--narrowed">STATUS
                <img class="table__img" src="assets/images/down-arrow.png" alt=""></th>
              <th class="table__header">CENA
                <img class="table__img" src="assets/images/down-arrow.png" alt=""></th>
              <th class="table__header table__header--center">KARTA</th>
              <th class="table__header table__header--center">DODAJ DO KOSZYKA</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i = 0; i < flats.length ; i++) { %>
              <tr class="table__row">
                <td class="table__data"><%= flats[i].id %></td>
                <td class="table__data"><%= flats[i].area %> m<sup class="table__data--sup">3</sup></td>
                <td class="table__data"><%= flats[i].rooms_count %></td>
                <td class="table__data"><%= flats[i].floor %></td>
                <td class="table__data">
                  <span class="table__data-wrapper"><%= flats[i].state.label %></span></td>
                <td class="table__data">
                  <span class="table__data--black">
                    <%= flats[i].price %> 
                  </span>
                  <span class="table__data--red"><%= flats[i].sale_price %></span>
                </td>
                <td class="table__data table__data--center"><img class="table__icon" src="assets/images/file_icon.png" alt=""></td>
                <td class="table__data table__data--center"><img class="table__icon" src="assets/images/shopping-basket_icon.png" alt=""></td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </section>
    </div> 
  </div>
</section>

<%- include('base/_footer.html') %>
