* {
  // border: 1px solid red;
}

.search {
  overflow-x: hidden;
  &__container {
    width: 100vw;
    padding: 93px 0;
    background: $white;
    &--gray {
      background: $gray2;
    }
  }
  &__wrapper {
    width: 1440px;
    margin: 0 auto;
  }
  &__header {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 65px;
    &--gray {
      color: $gray3;
    }
    &--gold {
      color: $gold;
      margin-bottom: 105px;
    }
  }
}

.slider {
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
  }
  &__wrapper {
    position: relative;
    height: 50px;
  }
  &__label {
    position: absolute;
    top: -42px;
    color: $gray3;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    &-sup {
      font-weight: 600;
      font-size: .7rem;
    }
  }
  &__input {
    border: none;
    margin-top: 7px;
    padding-top: 17px;
    color: $gray3;
    font-family: 'Lato', sans-serif !important;
    font-size: 1rem !important;
    font-weight: 600;
    letter-spacing: 1px;
    &--right {
      text-align: right;
      float: right;
    }
  }
}

.radio {
  width: 100%;
  padding-top: 60px;
  &__item {
    display: none;
    &:checked + .radio__label {
      background-color: $gold;
    }
  }
  &__label {
    -webkit-appearance: none;
    border-radius: 50%;
    width: 100%;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
    background-color: $white;
    border: 2px solid $gold;
  }
  &__description {
    color: $gray3;
    font-size: 1.1rem;
    font-weight: 600;
    position: relative;
    top: -3px;
    &--gold {
      color: $gold;
      margin-right: 81px;
      top: 0;
    }
  }
}

.table {
  width: 100%;
  font-size: .8rem;
  border-collapse: collapse;
  &__header {
    font-weight: 600;
    padding: 15px 0 15px 38px;
    text-align: left;
    &--center {
      text-align: center;
      padding: 0;
    }
    &--narrowed {
    width: 312px;
    }
  }
  &__img {
    padding-left: 6px;
    padding-bottom: 2px;
  }
  &__data {
    font-weight: 600;
    font-size: .8rem;
    padding: 10px 0 10px 38px;
    &--sup {
      font-weight: 600;
      font-size: .6rem;
    }
    &--center {
      padding: 0;
    }
    &--black {
      font-weight: 600;
      padding-right: 10px;
    }
    &--red {
      color: $red;
      font-weight: 600;
    }
    &-wrapper {
      width: 238px;
      height: 38px;
      background-color: #00b734;
      display: inline-block;
      padding: 10px;
      text-align: center;
      color: $white;
      text-transform: uppercase;
    }
  }
  &__icon {
    margin: 0 auto;
    display: block;
    cursor: pointer;
  }
  &__row {
    height: 70px;
    &:nth-child(even) {
      background-color: #dfdfdf;
    }
    &:nth-child(odd) {
      background-color: #ededed;
    }
  }
}

.decorative-strip {
  width: calc((100vw - 1440px) / 2);
  height: 12px;
  background-color: $gold;
  position: absolute;
  left: -60px;
  &--gray {
    background-color: $gray3;
    top: 571px;
  }
  &--gold {
    background-color: $gold;
    top: 107px;
  }
}